body {

    
}

#student-img {
    width: 20px;
}

#add-student-img {
    margin-top: -2px;
    width: 25px;
}

#add-class-img {
    width: 30px;
}


ul {
    display: flex;
    display: inline;

}

li {
    display: inline;
    /* display: inline; */
}


.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#main-center {
    color: black;
    font-size: 30px;
    font-family: Next Art;
    font-weight: 900;
}
.divsOfBut {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 10px;
    /* background-color: rgba(0, 192, 26, 0.685); */
    background-color: rgba(255, 255, 255, 0.63);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.411);
    border-radius: 20px;
    padding: 20px;
    /* transition: 0.4s; */
}

.divsOfBut:hover {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    text-decoration: none;
    color: white;
    margin: 10px;
    /* background-color: rgba(0, 192, 26, 0.685); */
    background-color: rgba(0, 199, 17, 0.903);
    transition: 0.4s;
    border-radius: 20px;
    padding: 20px;
}

.divsOfBut p {
    width: 300px;
}

.divsOfBut h1 {
    width: 70vw;
    font-family: next Art;

    font-size: 30px;
}


.right {
    width: 200px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: wheat;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media (min-width:300px) and (max-width:425px) {

    .main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .divsOfBut {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        margin: 10px;
        /* background-color: rgba(0, 192, 26, 0.685); */

        border-radius: 20px;
        padding: 20px;
    }

    .divsOfBut p {
        width: 260px;
    }

    .divsOfBut h1 {
        width: 70vw;
        font-size: 30px;
    }


    .right {
        display: none;
        width: 200px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        background-color: wheat;
    }



}